body {
	-webkit-text-size-adjust: 100%;
	margin:0;
	padding:0;
}

#external {
	width:100%;
	background-color:white;
	margin:0 auto;
}
h1 {
	width:fit-content;
	margin:20px auto;
	font-size:50px;
	font-family:"Dosis", sans-serif;
	font-weight:600;
}
#formula {
	width:fit-content;
	margin:10px auto;
	font-size:18px;
}
#control{
	width:fit-content;
	margin:10px auto;
}
button {
	display:block;
	background-color:white;
	padding:5px;
	border:solid 1px #333333;
	border-radius:5px;
	margin:5px auto;
}
input {
	width:50px;
	height:20px;
	display:block;
}
#grid-area {
	border: solid 1px #333333;
	display: grid;
	grid-template-columns: auto auto 1fr 1fr;
	max-width: 95%;
	width: fit-content;
	margin: 0 auto;
}
.cell1 {
	border: solid 1px #333333;
	overflow-x:auto;
}
.cell2 {
	border: solid 1px #333333;
	margin:1px;
	width:fit-content;
	font-size:15px;
}
.cell2 mjx-container[jax="CHTML"][display="true"] {
	margin:0;
	line-height: normal;
}
.leftpos mjx-container[jax="CHTML"][display="true"] {
	text-align:left;
}
.leftpos {
	width:auto;
}

label {
	display:flex;
}
.flex {
	display:flex;
	width:300px;
}
.left {
	margin-right:auto;
}
.right {
	margin-right:auto;
}
#picontainer {
	display:block;
	margin:0 auto 10px auto;
	width:fit-content;
	max-width:90%;
	overflow-wrap:anywhere;
}
#pivalue {
	margin:0;
	width:fit-content;
	display:flex;
}
.digitcontainer {
	width:fit-content;
	display:flex;
}
.pitext {
	display:block;
	margin:0;
	width:fit-content;
	border:solid 1px black;
}
#Int {
	background-color:#7FFF00;
}
#Frac {
	background-color:#FF4500;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size:30px;
	}
	#formula {
		font-size:14px;
	}
	/*#n {
		max-width:200px;
	}*/
	#grid-area {
		grid-template-columns: auto 0.4fr 1fr 1fr;
	}

}
