#external {
      width:fit-content;
			background-color:white;
			margin:0 auto;
			}
h1 {
			width:fit-content;
			margin:20px auto;
			font-family:"Dosis", sans-serif;
			font-weight:600;
			}
#control{
			width:fit-content;
			margin:10px auto;
			}
button {
			background-color:white;
			padding:5px;
			border:solid 1px #333333;
			border-radius:5px;
			}
input {
			width:50px;
			}
